$fa-font-path: "webfonts";
@import "bootstrap-5.2.1/scss/bootstrap";
@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/solid.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,600&display=swap');
$maincolor:#cb9a51;

body{
    overflow-x: hidden;
}
*{
    margin: 0;
    
}

.th-trip-mang{
    color: #112E53;
    height: 60px;
}
.green-date{
    color: rgb(28, 212, 28);
    display: block;
}
.red-date{
    color: red;
    display: block;
}
.unpub{
    color: white;
    padding: 1px;
    background-color:#ce7c0d;
    border-radius: 5px;
}
.fa-plane-up{
    transform: rotate(45deg);
}
.fa-check{
    color: rgb(30, 212, 30);
}
.fa-trash-can{
    color: red;
    text-align: right;
}
.edit-product{
    margin-right: 20px;
    color: #cb9a51;
}
.add-price{
    color: red;
    text-decoration: underline;
    
}
.tb-trip-mangment{
    border: 1px solid #eee;
    padding: 0px 10px;
}
.created-date{
    margin-right: 40px;
}
.pegntion-trip:hover{
    color: white;
    background-color: #112E53;
    
}
.pegntion-trip{
    display: inline-block;
    padding: 0px 5px;
    
}
.previos-page{
    transform: rotate(180deg);
}
.page-list{
    text-align: right;

}
.trip-proudcts{
    i{
        padding: 2px;
    }

}
.up-down{
    display: inline;
}

.up{
    display: block;
    transform: rotate(90deg);
   
}
.down{
}